/* start-screen.component.scss */

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #add8e6; // Baby blue background

  h1 {
    font-family: 'Georgia', serif;
    color: #663300; // Brown color for Viking theme
  }

  .game-list {
    margin-top: 40px;
    text-align: center;

    .game {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }

    button {
      cursor: pointer;
      padding: 5px 10px;
      background-color: #0066cc; // Dark blue button color
      color: #fff;
      border: none;
      border-radius: 4px;
      margin-top: 10px;

      &:hover {
        background-color: #004080; // Darker blue on hover
      }
    }
  }
}
